#!/bin/bash

set -eufo pipefail

source /tmp/chezmoi-utils.sh

printf "${green}[01 - Install packages] ${reset}"
{{ if or (lt 01 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_PACKAGES_SETUP") -}}
echo "Skip installing packages"
exit 0
{{ else }}
echo "Install Packages"
{{- end }}

{{ $taps := list

-}}

{{ $brews := list
 
-}}

{{ $casks := list
   
-}}


{{ if .personal -}}
{{   $taps = concat $taps (list
        ) -}}
{{   $brews = concat $brews (list

       "mackup") -}}
{{   $casks = concat $casks (list
       
  
       "beeper"
       ) -}}
{{ end -}}


brew bundle --no-lock --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF
