{{ if .personal -}}
#!/bin/sh

source /tmp/chezmoi-utils.sh

printf "${green}[01 - Clone] ${reset}"
{{ if or (lt 001 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_CLONING") -}}
echo "Skip cloning"
exit 0
{{ else }}
echo "Cloning repositories"
{{- end }}


REPO=$HOME/Repositories

# Personal
URL=https://github.com/h-wb/home-ops.git
FOLDER=$REPO/home-ops

if [ ! -d "$FOLDER" ] ; then
    git clone "$URL" "$FOLDER"
fi
{{ end -}}