{{ if .personal -}}
#!/bin/bash

set -ufo pipefail

source /tmp/chezmoi-utils.sh

printf "${green}[03 - Exports secrets] ${reset}"
{{ if or (lt 03 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_SECRETS_SETUP") -}}
echo "Skip exporting secrets"
exit 0
{{ else }}
echo "Export secret session"
{{- end }}

bw login {{ .bwemail }}
export BW_SESSION=$(bw {login,unlock} --raw)

{{ end -}}