{{ if .personal -}}
#!/bin/bash

set -ufo pipefail

source /tmp/chezmoi-utils.sh

printf "${green}[02 - Install MAS] ${reset}"
{{ if or (lt 02 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_MAS_SETUP") -}}
echo "Skip installing Mas"
exit 0
{{ else }}
echo "Install MAS"
{{- end }}

mas account &> /dev/null

if [[ $? -ne 0 ]]; then
  echo "Please login to Mac app store first, then run command again"
  mas open
  exit 0
fi

brew bundle --no-lock --file=/dev/stdin <<EOF

mas "Habitify: Habit Tracker & Goal", id: 1111447047

EOF
{{ end -}}