{{- $gitemail := promptString "gitemail" -}}
{{- $personal := promptBool "personal" -}}
{{- $bwemail := promptString "bwemail" -}}
[data]
    gitemail = {{ $gitemail | quote }}
    bwemail = {{ $bwemail | quote }}
    personal = {{ $personal }}
[git]
    autoCommit = true
    autoPush = true