{{- $gitemail := promptString "gitemail" -}}
{{- $bwemail := promptString "bwemail" -}}
{{- $choices := list "personal" "work"  -}}
{{- $mode := promptChoiceOnce . "mode" "What type of host are you on" $choices -}}
[data]
    gitemail = {{ $gitemail | quote }}
    bwemail = {{ $bwemail | quote }}
    mode = {{ $mode | quote }}
[git]
    autoCommit = true
    autoPush = true