{{- $git_email := promptStringOnce . "git_email" "Enter git email:" -}}
{{- $domain := promptStringOnce . "domain" "Enter domain:" -}}
{{- $choices := list "personal" "work"  -}}
{{- $profile := promptChoiceOnce . "profile" "Host profile" $choices -}}
{{- $secrets := promptBoolOnce . "secrets" "Enable secrets (ProtonPass)" -}}

data:
    git_email: {{ $git_email | quote }}
    domain: {{ $domain | quote }}
    profile: {{ $profile | quote }}
    secrets: {{ $secrets }}

scriptEnv:
    PASS_LOG_LEVEL: "error"

hooks:
  read-source-state:
    pre:
      command: {{ .chezmoi.workingTree }}/install/common/protonpass.sh

protonPass:
    command: {{ .chezmoi.destDir }}/.local/share/mise/shims/pass-cli