HashKnownHosts no

Host TN1                                                                                                                   
    HostName {{ protonPass "pass://Dev/Truenas/host" }}
    User {{ protonPass "pass://Dev/Truenas/username" }}
