[Desktop Entry]
Type=Application
Name=Obsidian
Comment=Markdown knowledge base
Exec={{ env.HOME }}/.local/share/mise/shims/obsidian --no-sandbox %U
Icon=accessories-text-editor
Categories=Office;TextEditor;
MimeType=x-scheme-handler/obsidian;
StartupNotify=true
StartupWMClass=obsidian
Terminal=false
