[Desktop Entry]
Type=Application
Name=Zen Browser
Comment=Web browser
Exec={{ env.HOME }}/.local/share/mise/shims/zen %U
Icon=web-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=zen
Terminal=false
